# AWS Configuration
REGION="ca-central-1"
PROFILE="csna-operations-sso"

# Bedrock Resources
KB_ID="xxxxxxxxxxx"
AGENT_ID="xxxxxxxx"
AGENT_NAME="generic-agent"
AGENT_ROLE_ARN="xxxxxxxxxxxx"
FOUNDATION_MODEL="xxxxxxxxxxxxxxxx"
