# AWS Configuration
REGION="ca-central-1"
PROFILE="csna-operations-sso"

# Bedrock Resources
KB_ID="LZE51GHMVX"
AGENT_ID="4EBXLZQW3Q"
AGENT_NAME="generic-agent"
AGENT_ROLE_ARN="arn:aws:iam::026991214828:role/service-role/AmazonBedrockExecutionRoleForAgents_OGKJF3WCP4"
FOUNDATION_MODEL="arn:aws:bedrock:ca-central-1:026991214828:inference-profile/us.anthropic.claude-sonnet-4-5-20250929-v1:0"
